@font-face {
    src: url(../Assets/Just_Another_Hand/JustAnotherHand-Regular.ttf);
    font-family: "Just Another Hand";
}

@font-face {
    src: url(../Assets/Capriola/Capriola-Regular.ttf);
    font-family: "Capriola";
}


:root {
    --primary-color: rgba(112, 213, 236, 1);
    --secondary-color: rgba(226, 236, 236, 1);
    --font-color: rgba(24, 73, 113, 1);
    --button-color: rgba(255, 128, 121, 1);
    --white-color: rgba(255, 255, 255, 1);
    --font-title: "Just Another Hand", cursive;
    --font-text: "Capriola", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    margin: 0;
}

header {
    height: 25vh;
}

header h1 {
    font-family: var(--font-title);
    font-weight: 100;
    text-align: center;
    font-size: 96px;
    color: var(--font-color);
    margin: 0;
    padding: 64px 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

section img {
    width: 265px;
}


section a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 90px;
    background-color: var(--button-color);
    text-decoration: none;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 3px #767676);
        -webkit-filter: drop-shadow(0px 5px 3px #767676);
        -moz-filter: drop-shadow(0px 5px 3px #767676);
}

section a p {
    color: var(--white-color);
    font-family: var(--font-text);
    font-size: 40px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 5px;
}

footer div a {
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 15px;
    margin: .5rem;
    filter: drop-shadow(0px 5px 3px #767676);
        -webkit-filter: drop-shadow(0px 5px 3px #767676);
        -moz-filter: drop-shadow(0px 5px 3px #767676);
}

footer li img {
    width: 35px;
    filter: drop-shadow(0px 5px 3px #767676);
        -webkit-filter: drop-shadow(0px 5px 3px #767676);
        -moz-filter: drop-shadow(0px 5px 3px #767676);
}

@media screen and (min-width: 995px) {
    header {
        height: 20vh;
    }

    header h1 {
        padding: 30px;
    }
    
    section {
        height: 70vh;

    }

    section img {
        width: 270px;
    }

    footer {
        margin: 0 20px 0 20px;
        height: 10vh;

    }

    footer ul {
        gap: 50px;
    }
}